HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
.classpath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
.idea
.DS_Store
*.class
*.log
*.lock

# Uploads (Sensitive/Personal)
uploads/
mysql-data/

# Frontend (Customer)
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Frontend (Employee)
employee-portal/node_modules/
employee-portal/dist/
employee-portal/.env
employee-portal/npm-debug.log*
